/* work around https://github.com/mantinedev/mantine/issues/7539 */
@supports (-moz-appearance: none) {
  input[readonly][aria-haspopup] {
    pointer-events: auto !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .hover-spin {
    transition: transform 1000ms ease;
    transform-origin: center;
  }

  .hover-spin:hover {
    transform: rotate(360deg);
  }
}
