# {{ ansible_managed }}
[Unit]
Description=JACK daemon

[Service]
Type=simple
ExecStart=/usr/bin/jackd -t5000 -R -d dummy -r48000
User=streaming
Restart=on-failure
LimitRTPRIO=99
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
