body {
  background: none;
}

@media (prefers-reduced-motion: no-preference) {
  .hourglass-spin {
    animation: hourglass-spin 1000ms ease infinite;
  }
}

@keyframes hourglass-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
