# {{ ansible_managed }}
[Unit]
Description=Liquidsoap HLS streamer for stream %i

[Service]
Type=simple
ExecStart=/usr/bin/liquidsoap /usr/local/libexec/liquidsoap/streamer.liq
Environment=STREAM_ID=%i
EnvironmentFile=/etc/streaming.env
User=streaming
Restart=on-failure

[Install]
WantedBy=multi-user.target
