# {{ ansible_managed }}
[Unit]
Description=Liquidsoap HLS streamer for stream %i

[Service]
Type=simple
ExecStart=/usr/local/bin/liq-streamer.sh
Environment=STREAM_ID=%i
EnvironmentFile=/etc/streaming.env
User=streaming
Restart=on-failure

[Install]
WantedBy=multi-user.target
